{{ define "main" }}
<section class="list{{ if and .Params.langs (gt (len .Params.langs) 1) }} has-multilang{{ end }}">
  <h1 data-i18n="{{ .Section }}">{{ .Title }}</h1>
  {{ with .Content }}<div class="content">{{ . }}</div>{{ end }}
  <ul class="items">
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">
        <span class="item-title">{{ .Title }}</span>
        {{ with .Date }}<span class="item-date">{{ dateFormat "02.01.2006" . }}</span>{{ end }}
      </a>
      {{ with .Description }}<p class="item-description">// {{ . }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
